// flex-basis calculation
@mixin flexBasis($column: 3, $gap: 30px) {
  flex-basis: calc((100% - #{$gap * (#{$column} - 1)}) / #{$column});
}
//  product background colorize
@mixin colorize($product-background, $baseSelector) {
  @each $color in $product-background {
    $idx: index($product-background, $color);

    #{$baseSelector}:nth-child(#{$idx}) {
      background-color: #{$color};
    }
  }
}
