// breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

// breakpoints map for respondTo mixin
$breakpoints: (
  'mobile': (
    min-width: #{$mobile},
  ),
  'tablet': (
    min-width: #{$tablet},
  ),
  'desktop': (
    min-width: #{$desktop},
  ),
) !default;

// site colors palette
$colors: (
  'text-primary': #907e82,
  'text-secondary': #000000,
  'text-label': #ffa5ba,
  'accent': #d41443,
  'background-primary': #ffffff,
  'bakground-secondary': #fff5f6,
  'background-hero': #ffb8ca,
  'icon': #fea5bb,
);

// site fonts
$fontPrimary: 'DM Sans', sans-serif;
$fontSecondary: 'Titan One', cursive;

// transitions duration and timing
$transitionDuration: 300ms;
$transitionTiming: cubic-bezier(0.4, 0, 0.2, 1);
