<section id="about" class="about section">
 <div class="container">
    <p class="label-text">tradition and love</p>
    <h2 class="section__title about-title">how it’s made?</h2>
    <div class="about-content">
      <div class="about-content__image">
        <picture>
          <source srcset="images/about/about.png 1x, images/about/about@2x.png 2x">
          <img src="images/about/about.png" class="about-image" alt="cow">
        </picture>
      </div>
        <input type="checkbox" class="read-more-state" id="post" />
        <div class="about-content__text read-more-wrap">
            <p class="sup-text">Want to see with your own eyes how our ice cream is made? Maybe you want to go on a tour to the Uncle George's farm,
            whose cows give this wonderful milk?</p>
            <p class="sub-text">The tour includes a visit to the ice cream production site, Uncle George's farm, tasting of our products, hotel
            accommodation near the farm, and a transfer to the city center
            For all details of booking this tour, please contact the phone number below
              <br><br>
              we have discounts* for students under the age of 16
            </p>
            <p class="sub-text sub-text--color read-more-target">*discount means that the price of entrance ticket to the farm is $0.99 per person, and 1 free scoop of ice cream at
            the gift shop
          </p>
        <label for="post" class="button button-about">
          Read more
          <svg class="button__icon button__icon--append">
            <use href="images/icons.svg#icon-button-bracket"></use>
          </svg>
        </label>
      </div>
    </div>
 </div>
</section>
