<section id="advantages" class="advantages">
  <h2 class="advantages__title">Advantages</h2>
<div class="container__advantages" >
<ul class="advantages__list" >
  <li class="advantages__item" >
    <span class="advantages__heading_bucket" >721</span>
    <p class="advantages__article" >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </li>
  <li class="advantages__item" >
    <span class="advantages__heading_appls" >16kg</span>
    <p class="advantages__article" >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </li>
  <li class="advantages__item" >
    <span class="advantages__heading_heart" >84</span>
    <p class="advantages__article" >Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
  </li>
</ul>
</div>
</section>
