<section id="advantages" class="advantages section">
  <div class="container">
    <h2 class="visualy-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__heading_bucket">721</p>
        <p class="advantages__article">
          liters of milk is given daily by our cows, and it all is used in production
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__heading_bucket advantages__heading_bucket--appls">16kg</p>
        <p class="advantages__article">
          fruit per hour goes to the production of our delicious fruit-flavoured ice cream
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__heading_bucket advantages__heading_bucket--heart">84</p>
        <p class="advantages__article">
          ice cream scoops is eaten every minute by our customers
        </p>
      </li>
    </ul>
  </div>
</section>
