<section id="contacts" class="section contacts">
  <div class="container">
    <h2 class="section__title--hidden">Contacts</h2>
    <div class="contacts__card">
      <p class="contacts__name">CAFE</p>
      <p class="contacts__title">Chicago</p>
      <p class="contacts__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

      <ul class="contacts__list">
        <li class="contacts__date">
          <p>Monday - Friday</p>
        </li>
        <li class="contacts__time">
          <p> 06:00 AM - 10:00 PM</p>
        </li>
      </ul>

      <ul class="contacts__list">
        <li class="contacts__date">
          <p>Saturday - Sunday</p>
        </li>
        <li class="contacts__time">
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>

      <ul class="contacts__link">
        <li class="contacts__item">
          <a class="contacts__tel" href="tel:+61(0)383766284">
            +61(0) 383 766 284
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__mail" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </div>

    <div class="contacts__card">
      <p class="contacts__name contacts__name--color">FOODTRUCK</p>
      <p class="contacts__title">Los Angeles</p>
      <p class="contacts__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

      <ul class="contacts__list">
        <li class="contacts__date">
          <p>Monday - Friday</p>
        </li>
        <li class="contacts__time">
          <p>06:00 AM - 10:00 PM</p>
        </li>
      </ul>

      <ul class="contacts__list">
        <li class="contacts__date">
          <p>Saturday - Sunday</p>
        </li>
        <li class="contacts__time">
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>

      <ul class="contacts__link">
        <li class="contacts__item">
          <a class="contacts__tel" href="tel:+61(0)383766284">
            +61(0) 383 766 284
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__mail" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </div>

    <div class="contacts__card">
      <p class="contacts__name">CAFE</p>
      <p class="contacts__title">New York</p>
      <p class="contacts__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>

      <ul class="contacts__list">
        <li class="contacts__date">
          <p>Monday - Friday</p>
        </li>
        <li class="contacts__time">
          <p> 06:00 AM - 10:00 PM</p>
        </li>
      </ul>

      <ul class="contacts__list">
        <li class="contacts__date">
          <p>Saturday - Sunday</p>
        </li>
        <li class="contacts__time">
          <p>08:00 AM - 16:00 PM</p>
        </li>
      </ul>

      <ul class="contacts__link">
        <li class="contacts__item">
          <a class="contacts__tel" href="tel:+61(0)383766284">
            +61(0) 383 766 284
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__mail" href="mailto:noreply@envato.com">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </div>

   
      <button class="button-accent button-accent--pos" type="submit">Our Locations
        <svg class="button__icon button__icon--append">
          <use href="images/icons.svg#icon-button-bracket"></use>
        </svg>
      </button>

      <button class="button" type="submit">Franchise
        <svg class="button__icon button__icon--append">
          <use href="images/icons.svg#icon-button-bracket"></use>
        </svg>
      </button>
   
  </div>

  <div class="modal-location"></div>
  <div class="modal-franchise"></div>

</section>