<section class="section footer" id="footer">
  <div class="container footer__box">
    <div class="footer__title--box">
      <p class="footer__title footer__title-lable">homemade ice cream made</p>
      <p class="footer__title-with">with passion</p>
    </div>
    <div class="footer-social__box">
      <ul class="footer-social__media">
        <li class="footer-media__icon">
          <a
            class="footer__icon-social"
            href="https://github.com/"
            target="_blank"
            aria-label="ссылка на гитхаб"
          >
            <svg class="footer__icon" width="19px" height="19px">
              <use href="images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-media__icon2">
          <a
            class="footer__icon-social"
            href="https://telegram.org/"
            target="_blank"
            aria-label="ссылка на телеграм"
          >
            <svg class="footer__icon" width="19px" height="19px">
              <use href="images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-media__icon">
          <a
            class="footer__icon-social"
            href="https://www.facebook.com/"
            target="_blank"
            aria-label="ссылка на фэйсбук"
          >
            <svg class="footer__icon" width="19px" height="19px">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-tel__box">
        <p class="footer-contact__tel">Feel free to contact</p>
        <a class="footer__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
</section>
