<section class="section footer border" id="footer">
  <div class="container box">
    <div class="title__box">
      <p class="title">homemade ice cream made</p>
      <p class="title-with">with passion</p>
    </div>
    <div class="social__box">
      <ul class="social__media">
        <li class="media__icon">
          <a class="icon-social" href="" target="_blank">
            <svg class="icon" width="19px" height="19px">
              <use href="images/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="media__icon2">
          <a class="icon-social" href="" target="_blank">
            <svg class="icon" width="19px" height="19px">
              <use href="images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="media__icon">
          <a class="icon-social" href="" target="_blank">
            <svg class="icon" width="19px" height="19px">
              <use href="images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="tel__box">
        <p class="contact__tel">Feel free to contact</p>
        <a class="tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
    </div>

</section>
 <div class="copyright">
    <p class="ice-cream">2022 - IceCream.</p>&nbsp
    <p class="all-rights">All Rights Reserved.</p>
  </div>
