<section id="gallery" class="section gallery__section">
  <div class="container">
    <h2 class="section__title--hidden">Gallery</h2>
    <ul class="gallery">
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-001-40.png 40w, images/gallery-001-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-001-84.png 84w, images/gallery-001-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-001-138.png 138w, images/gallery-001-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-001-138.png" loading="lazy" alt="Два конуса фисташкового мороженого на тарелке, один в бокале" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-002-40.png 40w, images/gallery-002-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-002-84.png 84w, images/gallery-002-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-002-138.png 138w, images/gallery-002-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-002-138.png" loading="lazy" alt="Розовое мороженое в большом вафельном рожке" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-003-40.png 40w, images/gallery-003-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-003-84.png 84w, images/gallery-003-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-003-138.png 138w, images/gallery-003-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-003-138.png" loading="lazy" alt="Несколько брикетов розового ягодного мороженого на палочках" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-004-80.png 80w, images/gallery-004-80@2x.png 160w"
            media="(max-width: 767px)"
            sizes="80px"
            type="image/зтп"
          />
          <source
            srcset="images/gallery-004-174.png 174w, images/gallery-004-174@2x.png 348w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="174px"
            type="image/png"
          />
          <source
            srcset="images/gallery-004-284.png 284w, images/gallery-004-284@2x.png 568w"
            media="(min-width: 1280px)"
            sizes="284px"
            type="image/png"
          />
          <img src="images/gallery-004-284.png" loading="lazy" alt="Несколько вафельных рожков с разным мороженым" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-005-40.png 40w, images/gallery-005-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-005-84.png 84w, images/gallery-005-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-005-138.png 138w, images/gallery-005-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-005-138.png" loading="lazy" alt="Улыбающаяся девушка с большим мороженым в вафельном рожке" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-006-40.png 40w, images/gallery-006-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-006-84.png 84w, images/gallery-006-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-006-138.png 138w, images/gallery-006-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-006-138.png" loading="lazy" alt="Три стеклянные мороженицы с мороженым и ягодами" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-007-40.png 40w, images/gallery-007-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-007-84.png 84w, images/gallery-007-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-007-138.png 138w, images/gallery-007-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-007-138.png" loading="lazy" alt="Красное мороженое в вафельном стаканчике с посыпкой" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-008-40.png 40w, images/gallery-008-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-008-84.png 84w, images/gallery-008-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-008-138.png 138w, images/gallery-008-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-008-138.png" loading="lazy" alt="Собака облизывает мороженое в вафельном стаканчике" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-009-40.png 40w, images/gallery-009-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-009-84.png 84w, images/gallery-009-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-009-138.png 138w, images/gallery-009-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-009-138.png" loading="lazy" alt="Кофе-мороженое в бокале с трубочкой" /> -->
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <!-- <source
            srcset="images/gallery-010-40.png 40w, images/gallery-010-40@2x.png 80w"
            media="(max-width: 767px)"
            sizes="40px"
            type="image/png"
          />
          <source
            srcset="images/gallery-010-84.png 84w, images/gallery-010-84@2x.png 168w"
            media="(min-width: 768px) and (max-width: 1279px)"
            sizes="84px"
            type="image/png"
          />
          <source
            srcset="images/gallery-010-138.png 138w, images/gallery-010-138@2x.png 276w"
            media="(min-width: 1280px)"
            sizes="138px"
            type="image/png"
          />
          <img src="images/gallery-010-138.png" loading="lazy" alt="Молочный шейк с топпингом из пончика и взбитых сливок с ягодами" /> -->
        </picture>
      </li>
    </ul>
  </div>
</section>
