<section id="products" class="products section">
    <div class="container">
    <p class="products__label"><span>1</span><span>0</span><span>0</span><span>%</span>
        <span>n</span><span>a</span><span>t</span><span>u</span><span>r</span><span>a</span><span>l</span></p>
    <h2 class="section__title products-title">Products</h2>
    <ul class="products-list">
        <li class="products-list__item icecream">
            <h3 class="products-list__name">ice cream</h3>
            <input type="checkbox" class="read-more-state" id="post-1" />
            <p class="products-list__description">Natural ice cream is our main product. We offer you to taste classic
            vanilla, chocolate and strawberry flavors.
                <span class="read-more-target">Also, to satisfy the tastes of each of our guests, this year we added ice cream with banana, coconut, pistachio, lime, pineapple, peach,
                raspberry and blueberry flavors. All ingredients are 100% natural</span>
            </p>
            <label for="post-1" class="button read-more">
                <svg class="button__icon-arrow">
                    <use href="images/icons.svg#icon-arrow"></use>
                </svg>
            </label>
        </li>
        <li class="products-list__item icecoffee">
            <h3 class="products-list__name">ice coffee</h3>
            <input type="checkbox" class="read-more-state" id="post-2" />
            <p class="products-list__description">we use 100% Arabica coffee from Guatemala, Honduras and Colombia. Honey processed, medium roasted.
                <span class="read-more-target">The quality of coffee is constantly monitored by our certified Q-graders. With the addition of
                our natural ice cream, we offer you to taste ice coffee and other cold drinks that you will never forget</span>
            </p>
            <label for="post-2" class="button read-more">
                <svg class="button__icon-arrow">
                    <use href="images/icons.svg#icon-arrow"></use>
                </svg>
            </label>
        </li>
        <li class="products-list__item milkshake">
            <h3 class="products-list__name">milkshakes</h3>
            <input type="checkbox" class="read-more-state" id="post-3" />
            <p class="products-list__description">milkshake - a fragrant cold drink based on milk and ice cream with a delicate creamy taste and airy texture.
                <span class="read-more-target">For our youngest guests, we recommend tasting this drink with the addition of OREO cookies, marshmallows and
                milk chocolate, or less sweet vanilla + banana. Mmm... yammi)</span>
            </p>
            <label for="post-3" class="button read-more">
                <svg class="button__icon-arrow">
                <use href="images/icons.svg#icon-arrow"></use>
            </svg>
        </label>
        </li>
    </ul>
    </div>
</section>
