<section id="products" class="products section">
    <div class="container">
    <p class="products__label"><span>1</span><span>0</span><span>0</span><span>%</span>
        <span>n</span><span>a</span><span>t</span><span>u</span><span>r</span><span>a</span><span>l</span></p>
    <h2 class="section__title products-title">Products</h2>
    <ul class="products-list">
        <li class="products-list__item icecream">
            <h3 class="products-list__name">ice cream</h3>
            <input type="checkbox" class="read-more-state" id="post-1" />
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                <span class="read-more-target">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sapiente atque voluptates
                    fuga, maxime perferendis sunt dolorem, eos corporis soluta labore velit eum maiores. Repellendus nostrum
                    temporibus minus asperiores! Ipsum?</span>
            </p>
            <label for="post-1" class="button read-more">
                <svg class="button__icon-arrow">
                    <use href="images/icons.svg#icon-arrow"></use>
                </svg>
            </label>
        </li>
        <li class="products-list__item icecoffee">
            <h3 class="products-list__name">ice coffee</h3>
            <input type="checkbox" class="read-more-state" id="post-2" />
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                <span class="read-more-target">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sapiente atque voluptates
                    fuga, maxime perferendis sunt dolorem, eos corporis soluta labore velit eum maiores. Repellendus nostrum
                    temporibus minus asperiores! Ipsum?</span>
            </p>
            <label for="post-2" class="button read-more">
                <svg class="button__icon-arrow">
                    <use href="images/icons.svg#icon-arrow"></use>
                </svg>
            </label>
        </li>
        <li class="products-list__item milkshake">
            <h3 class="products-list__name">milkshakes</h3>
            <input type="checkbox" class="read-more-state" id="post-3" />
            <p class="products-list__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                <span class="read-more-target">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sapiente atque voluptates fuga, maxime perferendis sunt dolorem, eos corporis soluta labore velit eum maiores. Repellendus nostrum temporibus minus asperiores! Ipsum?</span>
            </p>
            <label for="post-3" class="button read-more">
                <svg class="button__icon-arrow">
                <use href="images/icons.svg#icon-arrow"></use>
            </svg>
        </label>
        </li>
    </ul>
    </div>
</section>
