<div>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde eligendi commodi ipsam animi
    numquam vitae, saepe voluptates quod praesentium quibusdam. Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Tempore inventore, id non ratione voluptatem architecto quae quam
    sequi hic! Voluptate, quas. Explicabo expedita modi vel omnis laudantium quasi repellendus
    error.
  </p>
  <input type="checkbox" id="read-more" hidden />
  <p class="extra-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sed nihil provident corporis cum
    numquam accusamus. Dignissimos, dolores vitae voluptate, quam, neque provident impedit suscipit
    molestiae facilis dolorum fugit deleniti.
  </p>
  <p class="extra-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo debitis repellat, sint eligendi
    laborum soluta suscipit, animi velit enim quaerat aut provident laboriosam est illo voluptatum
    natus ad? Amet voluptatum quaerat numquam esse accusamus, ad omnis facilis doloribus aut.
    Repellat officia fugit blanditiis nihil cupiditate enim quam ratione, nostrum, quidem eaque unde
    at libero adipisci incidunt minus. Temporibus, officia vel. Accusamus cumque doloribus provident
    atque perspiciatis quo adipisci deleniti fugit debitis fugiat qui nemo, tenetur cum dicta rerum
    assumenda. Maxime itaque ex fuga aut aliquid qui voluptates a! Praesentium ipsa cum at molestias
    tenetur, provident neque culpa eaque delectus dolorem?
  </p>
  <label for="read-more" class="button read-more"
    >Read&nbsp;<span class="more">more</span><span class="less">less</span
    ><svg class="button__icon button__icon--append">
      <use href="images/icons.svg#icon-button-bracket"></use></svg
  ></label>
</div>
