<section id="reviews" class="section reviews__section">
  <div class="container reviews__container swiper mySwiper">
    <h2 class="visualy-hidden">Customer Reviews</h2>
    <div class="swiper-wrapper">
      <div class="swiper-slide customer-item">
        <article class="reviews-article">
          <h3 class="visualy-hidden">Review 1</h3>
          <picture class="reviews__userpic">
            <source
              srcset="images/reviews/review-01.webp 85w, images/reviews/review-01-2x.webp 170w"
              sizes="85px"
              type="image/webp"
            />
            <source
              srcset="images/reviews/review-01.png 85w, images/reviews/review-01-2x.png 170w"
              sizes="85px"
              type="image/webp"
            />
            <img
              class="gallery__image"
              src="images/reviews/review-01.png"
              loading="lazy"
              alt="Emily from Los Angeles"
            />
          </picture>
          <div class="reviews-article__background">
            <p class="reviews-article__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
          <p class="reviews-article__contact">Emily, Los Angeles</p>
        </article>
      </div>

      <div class="swiper-slide">
        <article class="reviews-article">
          <h3 class="visualy-hidden">Review 2</h3>
          <picture class="reviews__userpic">
            <source
              srcset="images/reviews/review-02.webp 85w, images/reviews/review-02-2x.webp 170w"
              sizes="85px"
              type="image/webp"
            />
            <source
              srcset="images/reviews/review-02.png 85w, images/reviews/review-02-2x.png 170w"
              sizes="85px"
              type="image/webp"
            />
            <img
              class="gallery__image"
              src="images/reviews/review-01.png"
              loading="lazy"
              alt="Anna from New York"
            />
          </picture>
          <div class="reviews-article__background">
            <p class="reviews-article__text">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam!
            </p>
          </div>
          <p class="reviews-article__contact">Anna, New York</p>
        </article>
      </div>

      <div class="swiper-slide">
        <article class="reviews-article">
          <h3 class="visualy-hidden">Review 3</h3>
          <picture class="reviews__userpic">
            <source
              srcset="images/reviews/review-03.webp 85w, images/reviews/review-03-2x.webp 170w"
              sizes="85px"
              type="image/webp"
            />
            <source
              srcset="images/reviews/review-03.png 85w, images/reviews/review-03-2x.png 170w"
              sizes="85px"
              type="image/webp"
            />
            <img
              class="gallery__image"
              src="images/reviews/review-01.png"
              loading="lazy"
              alt="Dasy from Texas"
            />
          </picture>
          <div class="reviews-article__background">
            <p class="reviews-article__text">
              Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Fusce nibh.
              Fusce suscipit libero eget elit.
            </p>
          </div>
          <p class="reviews-article__contact">Dasy, Texas</p>
        </article>
      </div>
    </div>
    <div class="reviews-icon swiper-pagination"></div>
  </div>
</section>
