.read-more {
  // max-width: 176px;
  width: fit-content;
}
.extra-content {
  display: none;

  &.is-open {
    display: block;
  }

  //   #read-more:checked ~ & {
  //     display: block;
  //   }
  // }

  // .more {
  //   display: inline-block;
  //   font-size: inherit;

  //   #read-more:checked ~ .read-more & {
  //     display: none;
  //   }
  // }

  // .less {
  //   display: none;
  //   font-size: inherit;

  //   #read-more:checked ~ .read-more & {
  //     display: inline-block;
  //   }
}
