.article {
  background: #fafafa;
  &__text {
    width: 750px;
    height: 52px;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 186%;

    text-align: center;
    letter-spacing: 0.04em;

    color: #000000;
  }
  &__contact{
    width: 172px;
    height: 31px;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 186%;
    text-align: center;
    color: #000000;
    
  }
}
