.section {
  padding-left: 20px;
  padding-right: 20px;

  @include respondTo(mobile) {
    padding-left: 0;
    padding-right: 0;
  }
}

.section__title {
  font-family: $fontSecondary;
  font-size: 34px;
  line-height: 1.145;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: getColor('accent');

  @include respondTo(tablet) {
    font-size: 48px;
  }

  @include respondTo(desktop) {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
}
