.contacts {
  padding-bottom: 113px;
  @include colorStopeedGradient(5%, 'background-primary', 'background-secondary');

  @include respondTo(tablet) {
    padding-bottom: 158px;
    @include colorStopeedGradient(9%, 'background-primary', 'background-secondary');
  }

  @include respondTo(desktop) {
    @include colorStopeedGradient(12%, 'background-primary', 'background-secondary');
    padding-bottom: 165px;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/contacts/spots_left.png');
      background-repeat: no-repeat;
      width: 56px;
      height: 95px;
      top: 171px;
      left: 0;
      z-index: -1;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/contacts/spots_left@2x.png');
        background-size: 4%;
      }
    }
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/contacts/spots_right.png');
      background-repeat: no-repeat;
      width: 56px;
      height: 16px;
      top: 295px;
      right: 0;
      max-width: 4em;
      z-index: -1;
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url('../images/contacts/spots_right@2x.png');
        background-size: 100%;
      }
    }
  }
}

.contacts--pos {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respondTo(tablet) {
    display: flex;
    flex-direction: row;
  }
}

.contacts__card {
  padding: 43px 20px;
  width: 220px;
  background-color: getColor('background-primary');
  border-radius: 24px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  margin-bottom: 20px;
  &:last-child {
    @include respondTo(mobile) {
      margin-bottom: 0px;
    }
  }
  @include respondTo(tablet) {
    padding: 50px 30px;
    margin-bottom: 0;
    max-width: 220px;
    @include flexBasis(3, 20px);
  }

  @include respondTo(desktop) {
    padding: 55px 43px;
    margin-bottom: 0;
    max-width: 330px;
    @include flexBasis;
  }

  &:not(:last-child) {
    @include respondTo(tablet) {
      margin-right: 20px;
    }
    @include respondTo(desktop) {
      margin-right: 30px;
    }
  }
}

.contacts__name {
  margin-bottom: 25px;
  font-family: $fontPrimary;
  align-items: center;
  text-align: center;
  width: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: getColor('background-primary');
  background-color: #f0d1a5;
  border-radius: 4px;

  @include respondTo(tablet) {
    margin-bottom: 30px;
    width: 73px;
    font-size: 16px;
    line-height: 1.86;
    border-radius: 6px;
  }
}

.contacts__name--color {
  width: 130px;
  background-color: #c2e297;

  @include respondTo(tablet) {
    width: 138px;
  }
}

.contacts__title {
  margin-bottom: 10px;
  font-family: $fontPrimary;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: getColor('text-secondary');

  @include respondTo(tablet) {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 1.86;
  }

  @include respondTo(desktop) {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts__subtitle {
  font-family: $fontPrimary;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: getColor('text-primary');

  @include respondTo(tablet) {
    font-size: 14px;
    line-height: 1.64;
  }
  @include respondTo(desktop) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts__subtitle::after {
  content: '';
  display: inline-block;
  width: 179px;
  height: 0px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: 1px solid #e1e1e1;

  @include respondTo(tablet) {
    width: 157px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  @include respondTo(desktop) {
    width: 234px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

.contacts__link::before {
  content: '';
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 179px;
  height: 0px;
  border: 1px solid #e1e1e1;

  @include respondTo(tablet) {
    width: 157px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  @include respondTo(desktop) {
    width: 234px;
    margin-bottom: 32px;
    margin-top: 32px;
  }
}

.contacts__list {
  margin-bottom: 10px;
  @include respondTo(tablet) {
    margin-bottom: 15px;
  }
}
.contacts__list:nth-of-type(2) {
  margin-bottom: 0px;
}

.contacts__date {
  font-family: $fontPrimary;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: getColor('text-secondary');

  @include respondTo(tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @include respondTo(desktop) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.contacts__time {
  font-family: $fontPrimary;
  font-size: 12px;
  line-height: 1.83;
  color: getColor('text-label');

  @include respondTo(tablet) {
    font-size: 14px;
    line-height: 1.86;
  }
  @include respondTo(desktop) {
    font-size: 16px;
    line-height: 1.86;
  }

  &:first-child {
    margin-bottom: 60px;
  }
}

.contacts__tel,
.contacts__mail {
  font-family: $fontPrimary;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: getColor('text-primary');
  text-decoration: none;

  @include respondTo(tablet) {
    font-size: 14px;
    line-height: 1.86;
  }

  @include respondTo(desktop) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contacts__button {
  margin-top: 54px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include respondTo(tablet) {
    margin-top: 80px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  @include respondTo(desktop) {
    margin-top: 85px;
  }
}

.contacts__button .button-accent--pos {
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;

  @include respondTo(tablet) {
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 0;
  }
}

.contacts__button .button {
  @include respondTo(tablet) {
    margin-left: 15px;
  }
}
.extra-map {
  display: none;
  margin-top: 10px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @include cssTransition(visibility opacity);

  &.is-map {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.contacts__franchise {
  display: none;
  width: 60%;
  background-color: getColor('background-primary');
  border-radius: 20px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  &.is-frncs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }
}

.contacts__franchise-text {
  font-size: 16px;
  line-height: 1.14;
  font-family: $fontSecondary;
  color: getColor('text-secondary');
  margin-bottom: 20px;

  &:last-child {
    font-family: $fontPrimary;
    font-size: 14px;
    color: getColor('text-primary');
  }
}
