.gallery__section {
  padding-bottom: 80px;

  background-image: linear-gradient(
    to bottom,
    getColor('background-secondary') 31.3%,
    getColor('background-primary') 31.3%
  );

  @include respondTo(tablet) {
    padding-bottom: 121px;
  }

  @include respondTo(desktop) {
    padding-bottom: 123px;
  }
}

.gallery {
  display: flex;
}

.gallery__item {
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid getColor('text-label');
  border-radius: 10px;

  @include respondTo(tablet) {
    flex-basis: 84px;
    height: 84px;
  }

  @include respondTo(desktop) {
    flex-basis: 138px;
    height: 138px;
  }
}
