.gallery__section {
  padding-bottom: 80px;

  background-image: linear-gradient(
    to bottom,
    getColor('background-secondary') 23%,
    getColor('background-primary') 23%
  );

  @include respondTo(tablet) {
    padding-bottom: 121px;

    background-image: linear-gradient(
      to bottom,
      getColor('background-secondary') 26%,
      getColor('background-primary') 26%
    );
  }

  @include respondTo(desktop) {
    padding-bottom: 123px;

    background-image: linear-gradient(
      to bottom,
      getColor('background-secondary') 29%,
      getColor('background-primary') 29%
    );
  }
}

.gallery {
  display: grid;

  justify-content: center;
  grid-gap: 2px;
  grid: repeat(12, 8.5px) / repeat(28, 8.5px);

  @include respondTo(tablet) {
    grid-gap: 4px;
    grid: repeat(12, 18px) / repeat(28, 18px);
  }

  @include respondTo(desktop) {
    grid-gap: 6px;
    grid: repeat(12, 30px) / repeat(28, 30px);
  }
}

.gallery__item {
  display: block;

  background-color: getColor('background-secondary');
  border-radius: 10%;
  overflow: hidden;

  &:nth-child(1) {
    grid-area: 5 / 1 / span 4 / span 4;
  }
  &:nth-child(2) {
    grid-area: 4 / 5 / span 4 / span 4;
  }
  &:nth-child(3) {
    grid-area: 8 / 5 / span 4 / span 4;
  }
  &:nth-child(4) {
    border-radius: 5%;
    grid-area: 1 / 9 / span 8 / span 8;
  }
  &:nth-child(5) {
    grid-area: 9 / 9 / span 4 / span 4;
  }
  &:nth-child(6) {
    grid-area: 4 / 17 / span 4 / span 4;
  }
  &:nth-child(7) {
    grid-area: 8 / 17 / span 4 / span 4;
  }
  &:nth-child(8) {
    grid-area: 3 / 21 / span 4 / span 4;
  }
  &:nth-child(9) {
    grid-area: 7 / 21 / span 4 / span 4;
  }
  &:nth-child(10) {
    grid-area: 5 / 25 / span 4 / span 4;
  }

  @include cssTransition(filter border-radius box-shadow);

  &:hover {
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(212, 20, 67, 0.3);
  }
}

.gallery__image {
  @include cssTransition(filter scale);

  .gallery__item:hover & {
    filter: brightness(110%) saturate(50%);
    transform: scale(120%);
  }
}
