.home-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url('../images/up-arrow.svg');
  background-size: contain;
  filter: opacity(30%);

  cursor: pointer;

  z-index: 99;

  &:hover,
  &:focus {
    filter: opacity(100%);
  }
}
