.modal-window__backdrop {
    width: 100vw;
    height: 100vh;
    background-color: getColor('backdrop');        
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;   
    z-index: 10;  
    visibility: visible;
    pointer-events: auto;

    @include cssTransition(visibility);

    &.is-hidden {
        visibility: hidden;
        pointer-events: none;
        opacity: 0;
        }
  }
  .modal-window__close-btn{
    position: fixed;
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid getColor('accent');
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
    @include cssTransition(background-color, border-color);

    @include respondTo(mobile){
        top: 40px;
        right: 5%;     
    }

    @include respondTo(tablet){
        top: 15%;
        right: 25%;
    }

    @include respondTo(desktop){
        right: 30%;
    }
    
    &:hover,
    &:focus{
        background-color: getColor('accent');
        border-color:getColor('accent');
    }
}

.modal-window__backdrop-bg--image{
    position: absolute;
    filter: contrast(80%) saturate(90%) opacity(50%) brightness(95%); 
    @include cssTransition(transform);
    width: 100vw;
    height: 100vh;
    background-image: url(../images/modal-window/icecream-modal-window-mobile.png);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/modal-window/icecream-modal-window-mobile@2x.png);
    
}
@include respondTo(tablet) {
    width: 70vw;
    background-image: url(../images/modal-window/icecream-modal-window-tablet.png);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:url(../images/modal-window/icecream-modal-window-tablet@2x.png);
    
    }
  }

  @include respondTo(desktop) {
      width: 50vw;
    background-image: url(../images/modal-window/icecream-modal-window-desctop.png);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image:url(../images/modal-window/icecream-modal-window-desctop@2x.png);
   
    }
  }
}

.modal-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    @include cssTransition(transform);

    @include respondTo(mobile){
        height: 90%;        
    }
     
    @include respondTo(tablet) {
        height: 90%;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        padding-left: 34px;
        padding-right: 34px;
    }
    
    @include respondTo(desktop){
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    width: 40%;
}

  }
.modal-window__backdrop.is-hidden .modal-window,
.modal-window__backdrop.is-hidden .modal-window__backdrop-bg--image{
    top: 0;
    left: -100%;
    transform: translateX(100%);
}

body.modal-open .modal-window{
    padding-top: 60px;
    top: 0;
    left: 5%; 

    @include respondTo(mobile){
        padding-top: 60px;
        top: 5%;
        left: 15%;        
    }    

    @include respondTo(tablet){
        height: 70%;
        top:15%;
        left: 25%;
    }  
    @include respondTo(desktop){
        left: 30%;
    }
}

body.modal-open .modal-window__backdrop-bg--image{
    @include respondTo(tablet){
        top:0;
        left: 15%;
    }  
    @include respondTo(desktop){
        left: 25%;
    }
}

.modal-window__close-btn-icon{
    width: 20px;
    height: 20px;
    
}

.modal-window__close-btn-icon{
    fill: getColor('accent');
    @include cssTransition(fill);
}

.modal-window__close-btn:hover .modal-window__close-btn-icon,
.modal-window__close-btn:focus .modal-window__close-btn-icon{
    fill: getColor('background-primary');  
}


.modal-form__title{
    font-size: 20px;
    line-height: calc(28/24);

    @include respondTo(tablet){
        margin-bottom: 10px;
    }
}

.modal-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;   
}

.modal-form__container{
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    &:not(:last-child){
        margin-bottom: 5px;
    }

    &--option{
        flex-direction: column;
    }
}


.modal-form__field{    
    font-family: $fontPrimary;
    font-size: 14px;
    line-height: calc(18/14);
    color: getColor('background-primary');

    @include respondTo(tablet){
        font-size: 16px;
        line-height: calc(30/26);
    }    
}

.modal-form__input-icon{
    position: absolute;
    bottom: 2px;
    left: 4px;
    fill: getColor('accent');
}

.modal-form__input{
    border: 1px solid getColor('accent');
    border-radius: 4px;
    background-color: getColor('background-primary');
    padding-left: 26px;
    color: getColor('accent');
    font-family:  $fontPrimary;
    font-size: 14px;
    line-height: calc(21/14);
    letter-spacing: 0.04em;
    cursor: pointer;

    &:hover,
    &:focus{
        outline-color: getColor('accent');
    }

    &--select{
        padding-left: 26px;
        padding-right: 2px;
        padding-top: 1px;
        padding-bottom: 1px;

        &:hover,
        &:focus{
            outline-color: getColor('accent');
    }
    }
}

.modal-form__message{
    width: 100%;
    height: 60px;
    align-self: center;
    resize: none;  
    border: 1px solid getColor('accent');
    border-radius: 4px;
    background-color: getColor('background-primary');
    color: getColor('accent');
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: calc(21/14);
    letter-spacing: 0.04em;    
    cursor: pointer;

    @include respondTo(tablet){
        height: 50px;
    }

    &:focus,
    &:hover{
        outline-color: getColor('accent');
    }

    &::placeholder{
        color: getColor('accent');
    font-family: $fontPrimary;
    font-size: 14px;
    line-height: calc(21/14);
    letter-spacing: 0.04em;    
    }
}

