.chat-button {
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: inline-block;
  width: 64px;
  height: 64px;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  background-image: url('../images/up-arrow-5_icon-icons.com_69823.svg');
  background-size: contain;

  cursor: pointer;

  z-index: 99;
}
